{% extends "base.html" %} {% block title %}Home{% endblock  %}

{% block content %}
<h1 align="center">NOTES</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group list-group-flush">
        {{ note.data}}
        <button class="close" type="button" onclick="deleteNote({{note.id}})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    <br/>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control" ></textarea>
    <br />
    <div align="center">
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>
{% endblock  %}
